<%content_for :head do%>
<%= stylesheet_link_tag "onde_encontrar"%>
<script type="text/javascript">
	$('#scrollbar1').tinyscrollbar();
	$(window).resize(function(){
	$('#scrollbar1').tinyscrollbar_update();
	});	
	
	
	$('.slideshow').cycle({ 
		fx:     'scrollHorz', 
        slideResize: false,
        fit: 1,			
		prev:   '#prev', 
		next:   '#next',  
		timeout: 0 
	});
</script>
<% end %>
<div class="container " id="content">
    <div class="left_container six columns">
        <div class="title_container ">
            <h1 class="title_left_container twelve columns"><%= t("find_us_title")%></h1>
        </div>
        		
        <div class="text_container twelve columns">
          <hr style="border-color:#f1454b;" class="twelve columns">
        <p class="text_container_p twelve columns">
			<%= t("find_us_body")%> 
        </p>
            <%= form_for @find, :as => "post", :url => find_us_path do |f| %>
              <div class="twelve mobile-three columns">
                  <%= f.text_field :name, :placeholder => "#{t('activerecord.attributes.find.name')}", :class => "eight" %>
                </div>
                <div class="twelve mobile-three columns">
                  <%= f.text_field :mail, :placeholder => "#{t('activerecord.attributes.find.mail')}", :class => "eight" %>
                </div>            
                <div class="six mobile-three columns">
                  <%= f.text_field :city, :placeholder => "#{t('activerecord.attributes.find.city')}", :class => "eight"%>
                </div>   
                <br><br><div class="one column"></div> 
                <div class="five mobile-three columns">
                  <%= f.select (:state, options_for_select([['AC'],['AL'],['AP'],['AM'],['BA'],['CE'],['DF'],['ES'],['GO'],['MA'],['MT'],['MS'],['MG'],['PA'],['PB'],['PR'],['PE'],['PI'],['RJ'],['RN'],['RS'],['RO'],['RR'],['SC'],['SP'],['SE'],['TO']]), :id => "customDropdown",:class => "state_input", :style => "display:none", :prompt => true) %>
                </div>
                <br><br>         
                <div class="twelve mobile-three columns">
                  <%= f.text_field :commercial_phone, :placeholder => "#{t('activerecord.attributes.find.commercial_phone')}", :class => "eight"%>
                </div> 
                <div class="twelve mobile-three columns">
                	<%= image_submit_tag ("bt_enviar_repres_#{I18n.locale}.jpg")%>
                </div>
          </form>               
 	        <% end %>
          <br><br>             
                
        </div>
    </div>
    <div class="right_container six columns">

    </div>

<script>
/* Mascaras personalizadas */ 
$.mask.masks = $.extend($.mask.masks,{
   phone_sp:{ mask: '(99) 99999-9999'}
});

(function($){
   $(function(){
       $('input:text').setMask();
        /* Personalização para celulares de SP*/
       $('#post_commercial_phone').keydown(function(event) {
             // Act on the event
             if($(this).val().substring(1,6) == '11) 9'){
                 $(this).attr('alt','phone_sp');
             }else{
                 $(this).attr('alt','phone');
            }
           $(this).setMask();
       });
   });
})($);

$('#post_new').validate({
	rules: {
		"post[name]":  {required: true,minlength: 2},
		"post[mail]": {required: true,email: true},
		"post[commercial_phone]": {required: true,minlength: 13},
		"post[city]": {required: true,minlength: 3},
		"post[state]" : {required: true}
	},
	messages: {
		"post[name]":{required: "<%= t("msg_validate.name_required")%>", minlength: "<%= t("msg_validate.name_minlength")%>"},
		"post[mail]":{required: "<%= t("msg_validate.email_required")%>",email: "<%= t("msg_validate.email_email")%>"},
		"post[commercial_phone]":{required: "<%= t("msg_validate.phone_required")%>",minlength: "<%= t("msg_validate.phone_minlength")%>"},
		"post[city]":{required: "<%= t("msg_validate.city_required")%>",minlength: "<%= t("msg_validate.city_minlength")%>"},
		"post[state]" : {required: "<%= t("msg_validate.state_required")%>"}		
	},
	errorPlacement: function(error,element){
    	error.insertAfter(element);
    	//alert(error.html());
	},
	showErrors: function(errorMap, errorList){
		this.defaultShowErrors();
	}
});
</script>
</div>
