<%content_for :head do%>
<%= stylesheet_link_tag "onde_encontrar"%>
<script type="text/javascript">
$(document).ready(function() {
	$('#scrollbar1').tinyscrollbar();
	$(window).resize(function(){
	$('#scrollbar1').tinyscrollbar_update();
	});	
	
	
	$('.slideshow').cycle({ 
		fx:     'scrollHorz', 
        slideResize: false,
        fit: 1,			
		prev:   '#prev', 
		next:   '#next',  
		timeout: 0 
	});



});
	
</script>
<% end %>
<div class="container ">
    <div class="left_container six columns">
        <div class="title_container ">
            <h1 class="title_left_container twelve columns">Onde Encontrar</h1>
        </div>
		
        <div class="text_container twelve columns">
            <%= form_for @find, :as => "post", :url => find_us_path do |f| %>
              <div class="twelve mobile-three columns">
                  <%= f.text_field :name, :placeholder => "Nome", :class => "eight" %>
                </div>
                <div class="twelve mobile-three columns">
                  <%= f.text_field :mail, :placeholder => "E-mail", :class => "eight" %>
                </div>            
                <div class="six mobile-three columns">
                  <%= f.select (:state, options_for_select([['SP'],['AM']]), :id => "customDropdown", :style => "display:none") %>
                </div>
                <br><br>
                <div class="six mobile-three columns">
                  <%= f.text_field :city, :placeholder => "Cidade", :class => "eight"%>
                </div>   
                <br><br>          
                <div class="twelve mobile-three columns inp_margin">
                  <%= f.text_field :commercial_phone, :placeholder => "Telefone Comercial", :class => "eight"%>
                </div> 
                <div class="twelve mobile-three columns">
                	<%= image_submit_tag ("bt_enviar_repres.jpg")%>
                </div>
          </form>               
 	        <% end %>
          <br><br>             
                
        </div>
    </div>
    <div class="right_container six columns">

    </div>
</div>
