<%content_for :head do%>
<%= stylesheet_link_tag "a_giotto"%>
<%=stylesheet_link_tag "/fancybox/jquery.fancybox.css"%>
<%=javascript_include_tag "jquery.fancybox.pack.js"%>
<%=javascript_include_tag "jquery.fancybox.js"%>
<script type="text/javascript">
$(document).ready(function() {
	$('#scrollbar1').tinyscrollbar();
	$(window).resize(function(){
	$('#scrollbar1').tinyscrollbar_update();
	});	
	
		
	$('.slideshow').cycle({ 
		fx:     'scrollHorz', 
        slideResize: false,
        fit: 1,			
		prev:   '#prev', 
		next:   '#next',  
		timeout: 0 
	});
  
  $(".fancybox").fancybox({
    'transitionIn'	:	'fade',
		'transitionOut'	:	'fade',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	false
    });
  
});
	
</script>
<%end%>
<div class="container ">
    <div class="left_container six columns">
        <div class="title_container">
            <h1 class="title_left_container">A Giotto</h1>
        </div>
        <div class="text_container">
            <div id="scrollbar1">
                <div class="scrollbar" style="height: 389px;"><div class="track" style="height: 389px;"><div class="thumb" style="top: 0px; height: 127.05373635600336px;"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview" style="top: 0px;">
                        <p class="text_left_container">
                            Fundada em 2000, a Giotto é uma empresa especializada na fabricação e comercialização de produtos plásticos e afins. Com sede na cidade de Nazaré Paulista- SP, destaca-se no ramo de utilidades domésticas, atendendo clientes em todo o território nacional.
                        </p>
                        <p class="text_left_container">
                            Constantemente preocupada em suprir as necessidades dos consumidores, a Giotto possui alta capacidade produtiva e frota própria para entregas. Desse modo, seus produtos podem ser encontrados em diversos distribuidores, atacadistas e lojas do ramo, espalhadas por todo o país.
                        </p>
                        <p class="text_left_container">
                            Comprometida com a qualidade, a Giotto também conta com instalações modernas, equipada com maquinário de alto desempenho, atendendo todas as demandas com rapidez e eficiência.
                        </p> 
			<p class="text_left_container">
			    A preocupação com o meio ambiente também recebe o cuidado e atenção da empresa, que promove a reciclagem dos resíduos plásticos dentro de suas instalações.
			</p>					
                    </div>
                </div>
            </div>        
    
        </div>
    </div>
    <div class="right_container six columns">
            <div class="img_container">
            <div id="prev"></div>
            <div id="next"></div>	
               <div class="slideshow" style="position: relative; width: 461px; height: 320px; overflow: hidden;">
                <a class="fancybox" rel="group" href="/images/01.jpg"><%=image_tag("01.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/02.jpg"><%=image_tag("02.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/03.jpg"><%=image_tag("03.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/04.jpg"><%=image_tag("04.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/05.jpg"><%=image_tag("05.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/06.jpg"><%=image_tag("06.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/07.jpg"><%=image_tag("07.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/08.jpg"><%=image_tag("08.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/09.jpg"><%=image_tag("09.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/10.jpg"><%=image_tag("10.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/11.jpg"><%=image_tag("11.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/12.jpg"><%=image_tag("12.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/13.jpg"><%=image_tag("13.jpg")%></a>
                <a class="fancybox" rel="group" href="/images/14.jpg"><%=image_tag("14.jpg")%></a>
               </div>
            </div>     
                   
    
    </div>
</div>
