<%content_for :head do%>
<%= stylesheet_link_tag "representantes_v2"%>

<% end %>
<div class="container ">
    <div class="left_container six columns">
        <div class="title_container ">
            <h1 class="title_left_container twelve columns">Representantes</h1>
        </div>
		
        <div class="text_container twelve columns">
        <hr style="border-color:#f1454b;" class="twelve columns">
        <p class="text_container_p twelve columns">
        	Para se tornar um revendedor Giotto entre em contato preenchendo os campos abaixo. 
        </p>
            <%= form_for ([@representative]) do |f| %>
              <div class="twelve mobile-three columns">
                  <%= f.text_field :name, :placeholder => "Nome", :class => "eight" %>
                </div>
                <div class="twelve mobile-three columns">
                  <%= f.text_field :email, :placeholder => "E-mail", :class => "eight" %>
                </div>            
                <div class="six mobile-three columns">
                  <%= f.text_field :city, :placeholder => "Cidade", :class => "eight"%>
                </div>   
                <br><br><div class="one column"></div>
                <div class="five mobile-three columns">
                  <%= f.select (:state, options_for_select([['Selecione o estado',''],['AC'],['AL'],['AP'],['AM'],['BA'],['CE'],['DF'],['ES'],['GO'],['MA'],['MT'],['MS'],['MG'],['PA'],['PB'],['PR'],['PE'],['PI'],['RJ'],['RN'],['RS'],['RO'],['RR'],['SC'],['SP'],['SE'],['TO']]), :id => "customDropdown", :style => "display:none") %>
                </div>
                <br><br>          
                <div class="twelve mobile-three columns">
                  <%= f.text_field :commercial_phone, :placeholder => "Telefone Comercial", :class => "eight"%>
                </div> 
                <div class="twelve mobile-three columns">
                	<%= image_submit_tag ("bt_enviar_repres.jpg")%>
                </div>
          </form>               
 	        <% end %>
    
        </div>
    </div>
    <div class="right_container six columns">

    </div>
<script>
/* Mascaras personalizadas */ 
$.mask.masks = $.extend($.mask.masks,{

   phone_sp:{ mask: '(99) 99999-9999'}

});

(function($){

   $(function(){

       $('input:text').setMask();




        /* Personalização para celulares de SP*/

       $('#representative_commercial_phone').keydown(function(event) {

             // Act on the event

             if($(this).val().substring(1,6) == '11) 9'){

                 $(this).attr('alt','phone_sp');

             }else{

                 $(this).attr('alt','phone');

            }

           $(this).setMask();

       });

   });

})($);


  
  $('#new_representative').validate({

       rules: {

           "representative[name]": {

               required: true,

               minlength: 6

           },

          "representative[commercial_phone]": {

               required: true,

               minlength: 13

           },
           "representative[email]": {
              required: true,
              
              minlength: 12
           },
           "representative[city]":{
              required: true,
              
              minlength: 3
           },
           "representative[state]":{
              required: true,
              maxlength: 2
           }

       },

       messages: {

           "representative[name]":{

required: "Preencha o Nome",

minlength: "Informe um Nome valido"

},

"representative[commercial_phone]":{

required: "O campo Telefone deve ser preenchido",

minlength: "Informe um Telefone valido"

},

"representative[email]":{
required: "O campo E-mail deve ser preenchido",

minlength: "Informe um E-mail valido"
},

"representative[state]":{
required: "Selecione o Estado",

maxlength: "Selecione o Estado"
},
"representative[city]":{
required: "Selecione a Cidade",

minlength: "Selecione a Cidade"
}

       },

errorPlacement: function(error,element){

    error.insertAfter(element);

    //alert(error.html());

},

showErrors: function(errorMap, errorList){

      this.defaultShowErrors();

}




   });
</script>
</div>
