<%content_for :head do%>
<%= stylesheet_link_tag "representantes_v2"%>

<% end %>
<div class="container ">
    <div class="left_container six columns">
        <div class="title_container ">
            <h1 class="title_left_container twelve columns">Representantes</h1>
        </div>
		
        <div class="text_container twelve columns">
        <hr style="border-color:#f1454b;" class="twelve columns">
        <p class="text_container_p twelve columns">
        	Lorem ipsum dolor sit ametconsectetur adipiscing elit. Sed ornare porta nibh vitae lacinia. Phasellus ut nulla dolor. Integer eu metus orci, et semper neque. 
        </p>
            <%= form_for ([@representative]) do |f| %>
              <div class="twelve mobile-three columns">
                  <%= f.text_field :name, :placeholder => "Nome", :class => "eight" %>
                </div>
                <div class="twelve mobile-three columns">
                  <%= f.text_field :email, :placeholder => "E-mail", :class => "eight" %>
                </div>            
                <div class="six mobile-three columns">
                  <%= f.select (:state, options_for_select([['SP'],['AM']]), :id => "customDropdown", :style => "display:none") %>
                </div>
                <br><br>
                <div class="six mobile-three columns">
                  <%= f.select (:city, options_for_select([['Atibaia'],['Piracaia']]), :class => "small button dropdown") %>
                </div>   
                <br><br>          
                <div class="twelve mobile-three columns inp_margin">
                  <%= f.text_field :commercial_phone, :placeholder => "Telefone Comercial", :class => "eight"%>
                </div> 
                <div class="twelve mobile-three columns">
                	<%= image_submit_tag ("bt_enviar_repres.jpg")%>
                </div>
          </form>               
 	        <% end %>
    
        </div>
    </div>
    <div class="right_container six columns">

    </div>
</div>
