<%content_for :head do%>
<%= stylesheet_link_tag "home"%>
<%= stylesheet_link_tag "work"%>
<% end %>  
  
    <div class="cont_box_left work_box_left">
        <p class="cont_box_text_h1">
            <%= t("work_title")%>
        </p>
        <p class="cont_box_text_p">
            <%= t("work_body").html_safe%>
        </p>
    </div>
    <div class="cont_box_right work_box_right">
          <%= form_for([@contact], :url => works_work_path(@contact), :html => { :multipart => :true }) do |f| %>
              <div class="eight columns">
                <%= label_tag :name, "Nome", :class => "right inline", :style=> "float:left" %>
				<%= f.text_field :name, :style=> "float:right; width:230px;" %>
               </div>
              <div class="four  columns">
                <%= label_tag :email, "E-mail", :class => "right inline", :style=> "float:left"%>
                <%= f.text_field :email, :style=> "float:right; width:230px;"%>
              </div>
              <div class="four columns">
                <%= label_tag :phone, "Telefone", :class => "right inline", :style=> "float:left"%>
                <%= f.text_field :phone, :style=> "float:right; width:230px;"%>
              </div>
              <div class="clear"></div>
              <div class="four columns">
                <%= label_tag :state, "Estado", :class => "right inline", :style=> "float:left"%>
                <%= f.select(:state,options_for_select([['Selecione o Estado',''],['AC'],['AL'],['AP'],['AM'],['BA'],['CE'],['DF'],['ES'],['GO'],['MA'],['MT'],['MS'],['MG'],['PA'],['PB'],['PR'],['PE'],['PI'],['RJ'],['RN'],['RS'],['RO'],['RR'],['SC'],['SP'],['SE'],['TO']]), :class => "five")%>
              </div>
              <div class="clear"></div>
              <div class="four columns">
                <%= label_tag :message, "Mensagem", :class => "right inline", :style=> "float:left"%>
                <%= f.text_area :message, :style=> "float:right; width:230px !important;"%>
              </div>
              <div class="four columns">
                <%= label_tag :file, "Arquivo", :class => "right inline", :style=> "float:left"%>
                <%= f.file_field :file, :style=> "float:right; width:230px !important;"%>
              </div>
              <div class="clear"></div>
              <div class="four columns">
              </div>
              <div class="eight  columns">
                <%= image_submit_tag("bt_enviar_contato.jpg", :style=> "float:right; width:230px !important;")%>
              </div>          
          <% end %>
    </div>
