<%content_for :head do%>
<%= stylesheet_link_tag "home"%>
<% end %>	
<div class="container" id="content">

	<div id="nav">

	</div>  
	<div class="slideshow"  id="images_c" >
		
		<div>
			<div class=" saiba_mais_container ">
				<div class="sm_ct_1">Bem-vindo à Giotto</div>
				<div class="sm_ct_3">
					O que faz de uma casa um verdadeiro lar são as pessoas, as cores e sentimentos<br />
					compartilhados em cada cantinho. Por isso, produzimos linhas que completam sua casa de um <br /><br />
					jeito muito especial.<br /> <br />
					Você, sua família e seu lar merecem Giotto.
				</div>
				<%= link_to(image_tag("bt_saibamais.jpg", :class=>"bt_saibamais"),about_us_index_path)%>	
			</div>	
			<%= image_tag("DestaqueFamilia.jpg", :class=>"img_show")%>
			
		</div>		
		
		<div>
			<div class=" saiba_mais_container ">
				<div class="sm_ct_1">Organize sua casa</div>
				<div class="sm_ct_2">com Giotto</div>				
				<div class="sm_ct_3">
					Organize roupas ou produtos de limpeza com um cesto versátil e bonito.
				</div>
				<%= link_to(image_tag("bt_saibamais.jpg", :class=>"bt_saibamais"),product_path(7))%>
			</div>	
			<%= image_tag("DestaqueCesto.jpg", :class=>"img_show")%>			
		</div>
		
		<div>
			<div class=" saiba_mais_container ">
				<div class="sm_ct_1">Mais beleza </div>
				<div class="sm_ct_2">para sua casa</div>
				<div class="sm_ct_3">
					Um novo design com a qualidade que você já conhece.<br /><br />
					Novos baldes Giotto: sua casa mais bonita e funcional
				</div>
				<%= link_to(image_tag("bt_saibamais.jpg", :class=>"bt_saibamais"), releases_index_path())%>	
			</div>	
			<%= image_tag("DestaqueBalde.jpg", :class=>"img_show")%>
		</div>		
		
		
	</div> 
</div>
<script type="text/javascript">

</script>
