<html>
<body>
	<h2>Novo Contato</h2>
	<p>Nome: <%=@contact.name%></p>
	<p>Email: <%=@contact.email%></p>
	<p>Telefone: <%=@contact.phone%></p>
	<p>Estado: <%=@contact.state%></p>
	<p><%=link_to "Download do CV", "localhost" + @contact.file.url()%></p>
	<p>Mensagem:</p>
	<p><%=@contact.message%></p>
</body>
</html>
