<html>
<body>
	<h2>Novo Contato de Representante</h2>
	<p>Nome: <%=@contact.name%></p>
	<p>Email: <%=@contact.email%></p>
  <p>Estado: <%=@contact.state%></p>
  <p>Cidade: <%=@contact.city%></p>
	<p>Telefone: <%=@contact.commercial_phone%></p>
	<p>Mensagem:</p>
	<p><%=@contact.message%></p>
</body>
</html>
