<% 
	content_for :title do "Login" end
%>
<%content_for :head do%>

<%= stylesheet_link_tag "login_box"%>

<%end%>
<div id="box_login" class="twelve columns">
	<h1 class="login_box_h1"><%= t("restricted_title")%></h1>
	<hr style="border-color:#f1454b;" class="twelve columns">
	<%= form_for @user_session, :remote => true do |f| %>
		<p>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :password %>
			<%= f.password_field :password%>
		</p>
		
		<br />
		
		<p><%= f.submit nil, :class => "button"%></p>
	<% end %>
</div>


	<%if flash[:error] %>
	
	<%end%>
<%else%>
	<%if flash[:error] %>

	<%end%>
