<% 
	content_for :title do "Login" end
%>
<%content_for :head do%>

<%= stylesheet_link_tag "login_box"%>

<%end%>
<div id="box_login" class="twelve columns">
	<h1 class="login_box_h1">Área Restrita</h1>
	<hr style="border-color:#f1454b;" class="twelve columns">
	<%= form_for @user_session, :remote => true do |f| %>
		<p>
			<%= f.label :email, "Email" %>
			<%= f.text_field :email, :placeholder => "Usuário" %>
		</p>
		<p>
			<%= f.label :password, "Senha" %>
			<%= f.password_field :password, :placeholder => "Senha" %>
		</p>
		
		<br />
		
		<p><%= f.submit "Enviar", :class => "button"%></p>
	<% end %>
</div>


	<%if flash[:error] %>
	
	<%end%>
<%else%>
	<%if flash[:error] %>

	<%end%>
