	<div class="header">
            <div class="logo left">
				<%= link_to image_tag("logo.png"), root_path %>         
            </div>     
            <!--Menu --> 
            <div class="menu_container right">    
                <ul class="menu">
                    <li><%= link_to "A Giotto", about_us_index_path%>                  
                    </li>
                    <li>
                    	<%= link_to "Produtos", products_path%>
                        <ul class="sub_menu">
                        	<li><%= link_to "Lançamentos", releases_index_path %></li>
                            <% if @categories.count > 0 %>
                            <% @categories.each do |category| %>
                            <li><%= link_to category.title, product_path(category.id) %></li>
                            <% end %> 
                            <% end %>                           
                        </ul>
                    	
                    </li>
                    <li><%= link_to "Representantes", new_representative_path%>
                                           
                    </li>
                    <li><%= link_to "Onde Encontrar", new_find_u_path%>
                                            
                    </li>
                </ul>
            </div>        
            <!--Menu End --> 
	</div>
