<div class="footer" id="footer">	
      <p class="cont_left_footer">Giotto (C) 2013 - Todos os direitos reservados.</p>
	    
            <div class="cont_right_footer">
		<%= image_tag ("bt_trabalheconosco.jpg"), :id => "work_bt" %>
            	<%= image_tag ("bt_entrar_contato.jpg"), :id => "contato_bt" %>
                <%#= link_to image_tag("bt_facebook.jpg", :class => "bt_facebook_align")%>
            </div>
            
<div class="work_box" style="display: none;">

<iframe src="/works/index" width="625" height="389"></iframe>
</div>
            

<div class="contato_box" style="display: none;">
    <div class="cont_box_left ">
        <p class="cont_box_text_h1">
            Entre em contato com a Giotto!
        </p>
        <p class="cont_box_text_p">
			Preencha o formulário ao lado para enviar suas dúvidas e sugestões.<br /><br />
			Ou entre em contato pelo telefone<br /> (11) 3132-9192<br /><br />
			Será um prazer poder atendê-lo.<br /><br />
			Aguardamos seu contato.<br />
            
        </p>
    </div>
    
    <div class="cont_box_right ">
        
          <%= form_for @contact, :url => home_create_path(@contact), :remote => true do |f| %>
              <div class="four columns">
                <%= label_tag :name, "Nome", :class => "right inline"%>
                </div>
              <div class="eight  columns">
                <%= f.text_field :name, :class => "five"%>
              </div>
              <div class="four  columns">
                <%= label_tag :email, "E-mail", :class => "right inline"%>
              </div>
              <div class="eight  columns">
                <%= f.text_field :email, :class => "five"%>
              </div>
              <div class="four columns">
                <%= label_tag :phone, "Telefone", :class => "right inline"%>
              </div>
              <div class="eight  columns">
                <%= f.text_field :phone, :class => "five"%>
              </div>
              <div class="four columns">
                <%= label_tag :message, "Mensagem", :class => "right inline"%>
              </div>
              <div class="eight columns">
                <%= f.text_area :message, :class => "five"%>
              </div>
              <div class="four columns">
              </div>
              <div class="eight  columns">
                <%= image_submit_tag("bt_enviar_contato.jpg")%>
              </div>          
          <% end %>
    </div>
</div>

<script>


/* Mascaras personalizadas */ 

$.mask.masks = $.extend($.mask.masks,{

   phone_sp:{ mask: '(99) 99999-9999'}

});




(function($){

   $(function(){

       $('input:text').setMask();




        /* Personalização para celulares de SP*/

       $('#contact_phone').keydown(function(event) {

             // Act on the event

             if($(this).val().substring(1,6) == '11) 9'){

                 $(this).attr('alt','phone_sp');

             }else{

                 $(this).attr('alt','phone');

            }

           $(this).setMask();

       });

   });

})($);


  
  $('#new_contact').validate({

       rules: {

           "contact[name]": {

               required: true,

               minlength: 6

           },

          "contact[phone]": {

               required: true,

               minlength: 13

           },
           "contact[email]": {
              required: true,
              
              minlength: 12
           }

       },

       messages: {

           "contact[name]":{

required: "Nome deve ser preenchido",

minlength: "Informe um nome válido"

},

"contact[phone]":{

required: "Telefone deve ser preenchido",

minlength: "Informe um Telefone valido"

},

"contact[email]":{
required: "E-mail deve ser preenchido",

minlenght: "Informe um E-mail valido"
}

       },

errorPlacement: function(error,element){

    error.insertAfter(element);

    //alert(error.html());

},

showErrors: function(errorMap, errorList){

      this.defaultShowErrors();

}




   });
</script>
	</div>
